@using CamionesApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <br />
                <div style="text-align:center">
                    <img src="~/img/iconoCamionesApp.png" width="200" />

                </div>
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <p>
                        <label>
                            <input class="filled-in" data-val="true" data-val-required="El campo ¿Recordar cuenta? es obligatorio." id="RememberMe" name="RememberMe" type="checkbox" value="true">
                            <span>Recordar contraseña</span>
                        </label>
                    </p>
                    
                </div>
                <div class="form-group">
                    <div class="col s6">
                        <input type="submit" value="Iniciar sesión" class="btn btn-default" />
                    </div>
                    <div class="col s6">
                        <a href="@Url.Action("Register","Account")" class="btn btn-default">Registrarse</a>
                    </div>
                </div>
               
            }
        </section>
    </div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}